# MCP Server Environment Variables
# Copy this file to .env and fill in the values

# Server configuration
PORT=3000
LOG_LEVEL=info

# No API authentication required

# Add any other environment variables your API might need
# App: PCTY9JV3A
OAUTH_CLIENT_ID_PCTY_CC=
OAUTH_CLIENT_SECRET_PCTY_CC=
OAUTH_TOKEN_URL=https://tinprovider.qa.paylocity.com/security/v1/token
API_BASE_URL=https://tingwext.qa.paylocity.com